*{
    padding: 0;
    margin: 0;
    border: 0;
}
html, body{
    height: 100%;
    box-sizing: border-box;
    max-width: 100%;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
h1{
    margin-bottom: 50px;
    font-size: clamp(14px, 2.8vw, 40px);
    width: 100%;
    display: block;
    text-align: center;
}
#body{
    background-color: #F6EEE0;
    color: #A45C40;
}
#container{
    padding: 20px;
    max-width: 768px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    border-radius: 8px;
    padding: 12px 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    width: 35%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: clamp(4px, 2vw, 24px);
}